<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EchartReadingPlaceSatisfactionMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.EchartReadingPlaceSatisfaction">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="readingPlace" column="reading _place" jdbcType="VARCHAR"/>
            <result property="satisfactionRate" column="satisfaction_rate" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,reading_place,satisfaction_rate
    </sql>
</mapper>
