<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EchartDigitalReadingAgeRatingMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.EchartDigitalReadingAgeRating">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="rate" column="rate" jdbcType="DOUBLE"/>
            <result property="ageRange" column="age_range" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,rate,age_range
    </sql>
</mapper>
